.header {
    background-color: rgb(202, 199, 199);
    box-shadow: 5px 5px 5px -5px;
    padding: 20px;
}


.id_photo {
    width: 30%;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    width: 100%;
}

.buttons {
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    font-size: 24pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    width: 20%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
}

.button:hover {
    background-color: rgb(166, 201, 189);
    cursor: pointer;
}

.active {
    background-color: rgb(127, 182, 237);
}

#main {
    margin-top: 30px;
    background-color: rgb(202, 199, 199);
    padding: 30px;
    box-shadow: 5px 5px 5px -5px;
    font-family: Arial, Helvetica, sans-serif;
}

.home_page {
    display: flex;
    justify-content: space-around;
}

.bio {
    width: 60%;
    height: 100%;
}

.bio > .bio_title {
    width: 100%;
    font-size: 24pt;
    text-decoration: underline;
}

.bio > .description {
    margin-top: 40px;
    font-size: 16pt;
    text-align: justify;
}

.papers_page {
    display: flex;
    justify-content: space-around;
    height: 200vh;
}


#paper_summary {
    width: 45%;
    font-size: 14pt;
}

#paper_summary_container {
    width: 100%;
    position: sticky;
    top: 40px;
}

.main_list_title {
    font-size: 24pt;
    text-decoration: underline;
}

.other_types {
    font-size: 24pt;
    text-decoration: underline;
    margin-top: 20px;
}

.abstract_title {
    font-size: 16pt;
    text-decoration: underline;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.abstract_text {
    text-align: justify;
}

.abstract_image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.papers_list {
    width: 45%;
}

.papers_list > .paper {
    border-width: 2px;
    border-style: solid;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.paper > .paper_title {
    width: 100%;
    font-size: 16pt;
}

.paper > .paper_authors {
    width: 100%;
    margin-top: 5px;
    font-size: 14pt;
}

.paper > .paper_journal {
    width: 100%;
    margin-top: 5px;
    font-size: 14pt;
}

.paper:hover {
    background-color: rgb(166, 201, 189);
}

.paper_navigation {
    display: flex;
    justify-content: left;
    width: 100%;
    font-size: 14pt;
    margin-bottom: 30px;
}

.paper_navigation_button {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    margin-right: 30px;
    cursor: pointer;
    font-weight: bold;
}

.paper_navigation_button:hover {
    background-color: rgb(166, 201, 189);
}

.cv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cv > .navigation {
    display: block;
    top: 10px;
    width: 20%;
}

.cv > .content {
    display: block;
    width: 70%;
}

a.cv_download {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.cv > .content > .cv_download:hover {
    background-color: rgb(166, 201, 189);
}

.cv > .navigation > .sticker {
    position: sticky;
    top: 20px;
    height: fit-content;
}

.cv > .navigation > .sticker > .button {
    width: auto;
    font-weight: bold;
    display: block;
    padding: 4px;
    margin-bottom: 10px;
}




.cv_education_title {
    font-size: 24pt;
    text-decoration: underline;
    margin-top: 20px;
}

.cv_title {
    font-size: 24pt;
    text-decoration: underline;
    margin-top: 30px;
}

.cv_university {
    font-size: 16pt;
    margin-top: 10px;
    font-weight: bold;
}

.cv_edu_details {
    font-size: 14pt;
    margin-top: 5px;
    /* margin-left: 10px; */
}

.cv_edu_gpa {
    font-size: 14pt;
    margin-top: 5px;
    margin-left: 10px;
}

.cv_edu_courses {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.button-flex {
    font-size: 14pt;
    width: fit-content;
    display: inline;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    cursor: pointer;
}

.button-flex:hover {
    background-color: rgb(166, 201, 189);
}

.button-block {
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    cursor: pointer;
}

.button-block:hover {
    background-color: rgb(166, 201, 189);
}

.cv_skills_elemnt {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.cv_skills_title {
    text-align: left;
    width: 35%;
    font-weight: bold;
    font-size: 14pt;
    margin-left: 20px;
}

.cv_skills_list {
    text-align: left;
    width: 60%;
    font-size: 14pt;
}

.cv_work_title {
    display: flex;
    justify-content: space-between;
}

.cv_job_timeperiod {
    text-align: right;
    font-style: italic;
    align-self: flex-end;
}

.cv_honor {
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
}

.cv_honor:nth-child(2) {
    margin-top: 10px;
}


.cv_honor_left_block {
    display: flex;
    justify-content: left;
    width: 70%;
}

.cv_honor_year {
    width: 10%;
    text-align: center;
    margin-right: 5%;
}

.cv_honor_degree {
    font-weight: bold;
}

.cv_honor_middle_block {
    text-align: left;
}

.cv_honor:last-child {
    margin-bottom: 100vh;
}


.subtitle {
    width: 100%;
    font-size: 30pt;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.class404 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
}
