.header-stat-phys {
    position: sticky;
    top: 0;
}


.desciption-reading-group {
    display: block;
}

.main-description {
    background-image: url('../img/background.jpg');
    background-position:right;
    background-size: cover;
    background-size: 110%;
    background-attachment: fixed;
}

.main-upcoming {
    background-image: url('../img/background-upcoming.jpg');
    background-position:right;
    background-size: cover;
    background-size: 110%;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
}

.main-past {
    background-image: url('../img/background-past.jpg');
    background-position:right;
    background-size: cover;
    background-size: 110%;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
}

.description-text {
    font-size: 16pt;
    block-size: 100%;
    width: 70%;
    /* position: fixed; */
    background-color: white;
    padding: 10px;
    height: fit-content;
    box-shadow: -5px 5px 5px -5px;
    margin: auto;
    margin-top: 10%;
}

.reading-group-books {
    margin: auto;
    margin-top: 30%;
    width: 50%;
    margin-bottom: 10%;
}

.reading-group-books > .book {
    /* border-style: solid;
    border-width: 4px;
    border-color:rgb(33, 80, 33); */
    box-shadow: -5px 5px 5px -5px;
    padding: 10px;
    margin-top: 20px;
    background-color: aliceblue;
}

.book > .book-date {
    font-size: 14pt;
    font-style: italic;
    margin-bottom: 5px;
}

.book > .book-title {
    font-size: 18pt;
    text-decoration: underline;
    margin-bottom: 3px;
}

.book > .book-authors {
    font-size: 16pt;
    margin-bottom: 20px;
}

.book > .book-abstract {
    font-size: 14pt;
}

.description-title {
    font-weight: bold;
    font-size: 18pt;
    text-decoration:underline;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    padding: 3px;
}

#textbook-link {
    cursor: pointer;
    text-decoration: underline;
}

.event-list {
    display: block;
    width: 50%;

    background-color: white;
    padding: 10px;
    height: fit-content;
    box-shadow: -5px 5px 5px -5px;
}

.event {
    font-size: 16pt;
    display: block;
    width: 97%;
    margin-bottom: 20px;
    padding: 10px;
    /* border-bottom: 4px double #333; */
    border-top: 4px double #999;

}

.event > .event-date {
    font-style: italic;
    margin-bottom: 10pt;
    font-size: 16pt;
    color: rgb(107, 107, 101);
}

.event > .event-topic {
    font-size: 16pt;
    /* text-decoration: underline; */
}


.event > .event-abstarct {
    margin-top: 10pt;
    font-size: 16pt;
    font-style: italic;
}

.event > .event-record {
    font-style: italic;
    margin-top: 10pt;
}