.desciption-reading-group {
    display: flex;
    justify-content: space-between;
}

.description-text {
    font-size: 16pt;
    width: 48%;
    background-color: white;
    padding: 10px;
    height: fit-content;
    box-shadow: -5px 5px 5px -5px;
}

.reading-group-books {
    width: 50%;
}

.reading-group-books > .book {
    /* border-style: solid;
    border-width: 4px;
    border-color:rgb(33, 80, 33); */
    box-shadow: -5px 5px 5px -5px;
    padding: 10px;
    margin-top: 20px;
    background-color: aliceblue;
}

.book > .book-date {
    font-size: 14pt;
    font-style: italic;
    margin-bottom: 5px;
}

.book > .book-title {
    font-size: 18pt;
    text-decoration: underline;
    margin-bottom: 3px;
}

.book > .book-authors {
    font-size: 16pt;
    margin-bottom: 20px;
}

.book > .book-abstract {
    font-size: 14pt;
}

.description-title {
    font-weight: bold;
    font-size: 18pt;
    text-decoration:underline;
}